{% extends 'index.html' %}
{% load static %}
{% block changes %}
<div class="cuerpo">
    <h2>Lista de Pacientes</h2>
    <div class="medics">
        <a class="btn btn-light" id="boton-medico" href="../pacient-form">Crear nuevo Paciente</a>
        <hr></hr>
        <ul>
            {% for pacient in pacients %}
                <li class="for">
                    Paciente: {{pacient.name}} {{pacient.surname}}
                    -- Documento: {{pacient.dni}}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}