{% extends 'index.html' %}
{% load static %}
{% block changes %}
<div class="cuerpo">
  <main class="form-signin w-50 m-auto">
    {% if form.errors %}
    <p style="color: red">Error, intenta de nuevo.</p>
    {% endif %}
    <form action="" method='POST'>
      <h1 class="h3 mt-3 mb-4 fw-normal">Please Register</h1>

      {% csrf_token %}
      {{ form.as_p }}      
      
      <button class="w-50 btn btn-lg btn-primary mt-3" type="submit">Register</button>
      <p class="mt-5 mb-3 text-muted"></p>
    </form>
  </main>
</div>
{% endblock %}