{% extends 'index.html' %}
{% load static %}

<scrip type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<scrip type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

{% block changes %}

{% for article in articles %}
<div class="container text-center">
    
    <h1>{{ article.title }}</h1>
    
    <div class="body">{{ article.content | safe}}</div>
    
    <dic class="body-upload">{{ article.content_upload | safe}}</dic>
    
</div>
{% endfor %}

{% endblock %}


