{% extends 'index.html' %}
{% load static %}
{% block changes %}
<h2>Lista de Medicos</h2>
<div class="cuerpo">
    <div class="medics">
        <a class="btn btn-light" id="boton-medico" href="{% url 'medics:medics-add' %}">Crear nuevo Medico</a>
        <hr></hr>
        {% if user.is_authenticated %}
        <ul>
            {% for medic in medic_list %}
            <li class="for">
                Medico: {{medic.surname}}
                <div class="btn btn-primary" id="edit">
                    <a class='edicion' href="{% url 'medics:medics-detail' medic.id %}">
                        Mostrar mas...
                    </a>
                    {% if user.is_superuser %}
                    |
                    <a class='edicion' href="{% url 'medics:medics-update' medic.id %}">
                        Editar
                    </a>
                    |
                    <a class='edicion' href="{% url 'medics:medics-delete' medic.id %}">
                        Borrar
                    </a>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
