{% extends 'index.html' %}
{% load static %}
{% block changes %}
<h2>Lista de Medicos</h2>
<div class="cuerpo">
    <div class="medics">
        <a class="btn btn-light" id="boton-medico" href="../medic-form">Crear nuevo Medico</a>
        <hr></hr>
        <ul>
            {% for medic in medics %}
                <li class="for">
                    Medico: {{medic.name}} {{medic.surname}}
                    -- Especialidad: {{medic.medic_type}}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
